@{
    ViewBag.Title = WebApplication.Resources.Admin.NotLoggedIn.Title;
}

<h2>@WebApplication.Resources.Admin.NotLoggedIn.Title</h2>
<p>
    @WebApplication.Resources.Admin.NotLoggedIn.Content
</p>
