/* -------------------------------------------------------------- 
   Accordion
-------------------------------------------------------------- */
h2.accordion_panel 
{
	background: url(./themes/admin/images/accordion_header.png) no-repeat;
	width: 100%;
	height: 36px;	
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	padding: 0;	
	margin: 0 0 .5em 0;	
	border: 1px solid #C5C5C5;
	
	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

	h2.accordion_panel a 
	{
		color: #222;
		text-decoration: none;
		padding: 0 0 0 40px;
	}
	
		h2.active {background-position: left bottom; border-color: #000; }	
			h2.active a { color: #FFF; }
			
.accordion_content 
{
	width: 100%;
	font-size: 1.2em;
	padding: 0;
	margin: 1em 0 5px;
	overflow: hidden;
	clear: both;
	display: none;
}

	
	
	.accordion_content:first-child { display: block; }

/* CSS classes used in the styles drop-down */
.keybinding
{
    display: inline-block;
    background: #EEE;
    border-color: #CCC #AAA #888 #BBB;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    color: black;
    margin: 2px 0;
    padding: 0 4px;
    white-space: nowrap;
    font-size: 120%;
}

.highlight
{
    background: yellow;
}
.code
{
    font: 11px monospace;
}

.rssfeeds
{
    float: none;
    display: table;
    width: 100%;
    margin-top: 20px;
}

.rssfeed
{
    float: left;
    width: 47%;
    margin: 0 auto;
}

.square .inside
{
    width: 100%;
    border: 1px solid #ccc;
}

.square .inside h1
{
    line-height: 12px;
}

.red-square h1, .red-square h3
{
    color: Red;
}

.square
{
    width: 30%;
    float: left;
    height: 150px;
    text-align: center;
}

#middle-square
{
    margin: 0 5%;
}

h1, h2, h3, h4, h5, h6
{
    color: #111;
    margin-bottom: .75em;
}

h1
{
    font-size: 30px;
    line-height: 1em;
}
h2
{
    font-size: 24px;
    font-weight: normal;
    color: #222;
    margin-bottom: 1em;
}
h3
{
    font-size: 16px;
    color: #333;
    line-height: 1;
    margin-bottom: .75em;
}
h4
{
    font-size: 14px;
    color: #666;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6
{
    font-size: 11px;
    font-weight: bold;
}

p
{
    margin: 0 0 1.5em;
}
p.last
{
    margin-bottom: 0;
}
img
{
    border: none;
}

ul, ol
{
    margin-left: 28px;
    margin-bottom: 1.5em;
}
li ul, li ol
{
    margin-top: 1em;
}
ul li
{
    list-style-type: disc;
}
li
{
    margin-bottom: .5em;
}

dl
{
    margin: 0 0 1.5em 0;
}
dl dt
{
    font-weight: bold;
}
dd
{
    margin-left: 1.5em;
}

abbr, acronym
{
    border-bottom: 1px dotted #666;
}
address
{
    margin-top: 1.5em;
    font-style: italic;
}
del
{
    color: #666;
}
sup
{
    font-size: 9px;
    vertical-align: top;
}

a
{
    color: #06C;
    text-decoration: none;
}
a:visited
{
    color: #667;
}
a:focus, a:hover
{
    text-decoration: underline;
}

blockquote
{
    margin: 1.5em;
    color: #666;
    font-style: italic;
}
strong
{
    font-weight: bold;
}
em, dfn
{
    font-style: italic;
    background: #ffc;
}
dfn
{
    font-weight: bold;
}
pre, code
{
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt
{
    font: 12px 'andale mono' , 'monotype.com' , 'lucida console' , monospace;
    line-height: 1.5;
}
tt
{
    display: block;
    margin: 1.5em 0;
    line-height: 1.5;
}


hr
{
    border: none;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 2em;
    margin-top: 1em;
}

table.data
{
    width: 100%;
    border: 0;
    margin-bottom: 2em;
    border-collapse: collapse;
}

table.data thead th
{
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #333;
    color: #FFF;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.display thead th
{
    background-color: #333 !important;
}

table.data td
{
    vertical-align: top;
}

table.data tbody tr td
{
    background: #FFF;
    border-bottom: 1px dotted #DDD;
}

table.data th
{
    padding: 10px 0;
}
table.data tbody td
{
    padding: 10px;
}

table.data tr.even td
{
    background: #F9F9F9;
}

table.data.stripe tr:nth-child(odd) td
{
    background-color: #F6F6F6;
}
table.data.stripe tr:nth-child(even) td
{
    background-color: #FFF;
}


input, textarea, select
{
    font-family: Verdana, 'Helvetica Neue' , Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    color: #424242;
    padding: 6px;
    border: 1px solid #CCC;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
    -moz-transition: border .2s linear, box-shadow .2s linear;
    -webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
}

input:focus, textarea:focus, select:focus
{
    border: 1px solid #80bfff;
    -moz-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
}

.placeholder
{
    color: #999;
}

/* -------------------------------------------------------------- 
   
   Stencil grid.css
   * Sets up grid system.
  
-------------------------------------------------------------- */

.xgrid
{
    width: 960px;
    margin: 0 auto;
}
.xfluid
{
    width: 96%;
}

.x1
{
    width: 60px;
}
.x2
{
    width: 140px;
}
.x3
{
    width: 220px;
}
.x4
{
    width: 300px;
}
.x5
{
    width: 380px;
}
.x6
{
    width: 460px;
}
.x7
{
    width: 540px;
}
.x8
{
    width: 620px;
}
.x9
{
    width: 700px;
}
.x10
{
    width: 780px;
}
.x11
{
    width: 860px;
}
.x12
{
    width: 940px;
}

.a1
{
    padding-right: 80px;
}
.a2
{
    padding-right: 160px;
}
.a3
{
    padding-right: 240px;
}
.a4
{
    padding-right: 320px;
}
.a5
{
    padding-right: 400px;
}
.a6
{
    padding-right: 480px;
}
.a7
{
    padding-right: 560px;
}
.a8
{
    padding-right: 640px;
}
.a9
{
    padding-right: 720px;
}
.a10
{
    padding-right: 800px;
}
.a11
{
    padding-right: 880px;
}
.a12
{
    padding-right: 960px;
}

.p1
{
    padding-left: 80px;
}
.p2
{
    padding-left: 160px;
}
.p3
{
    padding-left: 240px;
}
.p4
{
    padding-left: 320px;
}
.p5
{
    padding-left: 400px;
}
.p6
{
    padding-left: 480px;
}
.p7
{
    padding-left: 560px;
}
.p8
{
    padding-left: 640px;
}
.p9
{
    padding-left: 720px;
}
.p10
{
    padding-left: 800px;
}
.p11
{
    padding-left: 880px;
}
.p12
{
    padding-left: 960px;
}


.xfluid .x1
{
    width: 6.33%;
}
.xfluid .x2
{
    width: 14.66%;
}
.xfluid .x3
{
    width: 23%;
}
.xfluid .x4
{
    width: 31.33%;
}
.xfluid .x5
{
    width: 39.66%;
}
.xfluid .x6
{
    width: 48%;
}
.xfluid .x7
{
    width: 56.33%;
}
.xfluid .x8
{
    width: 64.67%;
}
.xfluid .x9
{
    width: 73%;
}
.xfluid .x10
{
    width: 81.33%;
}
.xfluid .x11
{
    width: 89.67%;
}
.xfluid .x12
{
    width: 98%;
}

.xfluid .a1
{
    padding-right: 8.33%;
}
.xfluid .a2
{
    padding-right: 16.66%;
}
.xfluid .a3
{
    padding-right: 25%;
}
.xfluid .a4
{
    padding-right: 33.33%;
}
.xfluid .a5
{
    padding-right: 41.66%;
}
.xfluid .a6
{
    padding-right: 50%;
}
.xfluid .a7
{
    padding-right: 58.33%;
}
.xfluid .a8
{
    padding-right: 66.67%;
}
.xfluid .a9
{
    padding-right: 75%;
}
.xfluid .a10
{
    padding-right: 83.33%;
}
.xfluid .a11
{
    padding-right: 91.67%;
}
.xfluid .a12
{
    padding-right: 100%;
}

.xfluid .p1
{
    padding-left: 8.33%;
}
.xfluid .p2
{
    padding-left: 16.66%;
}
.xfluid .p3
{
    padding-left: 25%;
}
.xfluid .p4
{
    padding-left: 33.33%;
}
.xfluid .p5
{
    padding-left: 41.66%;
}
.xfluid .p6
{
    padding-left: 50%;
}
.xfluid .p7
{
    padding-left: 58.33%;
}
.xfluid .p8
{
    padding-left: 66.67%;
}
.xfluid .p9
{
    padding-left: 75%;
}
.xfluid .p10
{
    padding-left: 83.33%;
}
.xfluid .p11
{
    padding-left: 91.67%;
}
.xfluid .p12
{
    padding-left: 100%;
}

.x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9, .x10, .x11, .x12
{
    margin: 0 10px 4em;
    float: left;
}

.xfluid .x1, .xfluid .x2, .xfluid .x3, .xfluid .x4, .xfluid .x5, .xfluid .x6, .xfluid .x7, .xfluid .x8, .xfluid .x9, .xfluid .x10, .xfluid .x11, .xfluid .x12
{
    margin: 0 .85% 2em;
}

.xbreak
{
    clear: both;
}

.xgrid:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form
{
    padding: 10px;
    margin: 0;
}
.form .field
{
    width: 100%;
    display: table;
}
.form .field_help
{
    margin-left: 145px;
    font-size: 90%;
    color: #777;
}
.form label, .form span.label
{
    color: #444;
    margin-right: 10px;
    padding-right: 10px;
    width: 125px;
    float: left;
    font-weight: bold;
    text-align: right;
    top: 6px;
}

.content
{
    width: 795px;
    float: right;
    color: #444;
    display: block;
    margin-right: 10px;
    padding-right: 10px;
    font-weight: normal;
    text-align: justify;
}

.form label em, .form span.label em
{
    position: absolute;
    right: 0;
    font-size: 120%;
    font-style: normal;
    color: #C00;
}

.form .upload
{
    margin-bottom: -5em;
}


.form .buttonrow
{
    float: left;
    margin-top: 1em;
    margin-bottom: 2.5em;
    margin-left: 145px;
    display: block;
}
.form .cancel
{
    font-size: 11px;
    color: #C00;
    padding-left: 10px;
}
.form .field
{
    margin-bottom: 1.5em;
}
.form .uploader
{
    margin-bottom: .5em !important;
}


.form .phone_field input
{
    margin-right: 0;
}
/*
.form .xsmall { width: 50px; }
.form .small { width: 100px; }
.form .medium { width: 200px; }
.form .large { width: 300px; }
.form .xlarge { width: 400px; }
*/

/* Label top styles */
.label-top .field label
{
    width: 100%;
    display: block;
    text-align: left;
}
.label-top .field span.label
{
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    position: relative;
}
.label-top .field .field_help
{
    margin-left: 0;
    font-size: 11px;
}
.label-top .buttonrow
{
    margin-left: 0;
}
.label-top .selector
{
    width: 100%;
    display: block;
    float: left;
}

.form div.controlset label, .form div.controlset input
{
    display: inline;
    float: none;
}
.form .controlset label
{
    font-size: 11px;
    font-weight: normal !important;
}
.controlset
{
    margin-bottom: 2.5em;
    float: left;
}
.controlset .controlset-pad
{
    width: 300px;
    float: left;
}


div.radio
{
    top: 8px;
}
div.checker
{
    top: 7px;
}

/* Styles for basic forms
-----------------------------------------------------------*/

.white-colored
{
    color: White;
}

.orange-colored
{
    color: Orange;
}

body
{
    font: 12px/1.7em arial,sans-serif;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#wrapper
{
    width: 100%;
}

/* -------------------------------------------------------------- 
   Top
-------------------------------------------------------------- */
#top
{
    background: #111;
    width: 100%;
    padding: 4px 0;
    margin: 0;
    border-bottom: 1px solid #555;
}

#top ul
{
    padding: 0;
    margin: 0;
}
#top ul.left
{
    float: left;
}
#top ul.right
{
    float: right;
}

#top ul li
{
    font-size: 11px;
    list-style-type: none;
    margin: 0 .75em;
    float: left;
    position: relative;
}
#top ul li:first-child
{
    margin-left: 0;
}

#top a
{
    color: #FFF;
    text-decoration: none;
}
#top a:hover
{
    text-decoration: underline;
}

#top .top_alert
{
    font-weight: bold;
    color: #F90;
}

#top .top_icon
{
    padding-left: 20px;
}
#top .top_icon span
{
    background-image: url(./themes/admin/images/ui-icons_ffffff_256x240.png) !important;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 2px;
}

/* -------------------------------------------------------------- 
   Header
-------------------------------------------------------------- */
#title
{
    font-size: 1.0em;
}

#sub-title
{
    font-size: 0.6em;
    font-style: italic;
}


#header
{
    background: #333;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 500;
}

#header h1
{
    width: 600px;
    color: White;
    height: 32px;
    line-height: 20px;
    position: relative;
    top: 10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

#header h1 a
{
    display: block;
}


/* -------------------------------------------------------------- 
   Nav
-------------------------------------------------------------- */
#nav
{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#nav li
{
    background: #333 url(./themes/admin/images/el_bg.png) repeat-x 0 0;
    border: 1px solid #222;
    border-bottom: none;
    list-style-type: none;
    float: left;
    margin: 0 .1em;
    position: relative;
}

#nav a
{
    height: 20px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 8px 15px 8px 15px;
    position: relative;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

#nav li.nav_dropdown a
{
    background: url(./themes/admin/images/down_arrow.png) no-repeat 90% center;
    padding-right: 32px;
}

#nav li.nav_current.nav_dropdown a
{
    background-image: url(./themes/admin/images/down_arrow_333333.png);
}



#nav .nav_icon a
{
    padding-left: 32px;
}
#nav .nav_icon_only a
{
    background-position: 50% center !important;
    padding: 8px 0;
}

#nav a span
{
    background-image: url(./themes/admin/images/ui-icons_ffffff_256x240.png) !important;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 8px;
}

#nav li.nav_current span
{
    background-image: url(./themes/admin/images/ui-icons_222222_256x240.png) !important;
}


#nav li:hover
{
    background-color: #444;
}
#nav li.nav_current
{
    background-color: #e6e6e6 !important;
}

#nav li.nav_current a
{
    color: #333;
    text-shadow: none;
}



#nav li:hover .nav_menu
{
    display: block;
}

#nav .nav_menu
{
    background: #444;
    width: 160px;
    position: absolute;
    top: 100%;
    right: -1px;
    display: none;
    padding: 8px 8px 5px;
    border: 1px solid #222;
    border-top: none;
}

#nav .nav_menu *
{
    background: none;
    border: none !important;
    float: none !important;
    margin: 0 !important;
}

#nav .nav_menu li
{
    background: #eee !important;
    margin-bottom: .5em !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#nav .nav_menu li:hover
{
    background-color: #CCC !important;
}

#nav .nav_menu a
{
    background-image: none !important;
    color: #333 !important;
    text-shadow: none !important;
    padding: 7px 10px !important;
}
#nav .nav_menu .nav_sub
{
    background-image: url(./themes/admin/images/down_arrow_333333.png) !important;
}


/* #nav li:hover { z-index: 10000 !important; } */

#nav .nav_menu li > ul
{
    background: #444;
    width: 160px;
    padding: 8px;
    position: absolute;
    right: 100%;
    top: 0;
    display: none;
}

#nav .nav_menu li:hover > ul
{
    display: block;
}

/* -------------------------------------------------------------- 
   Masthead
-------------------------------------------------------------- */
#masthead
{
    background: #e6e6e6;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

#masthead h1
{
    font-size: 28px;
    font-weight: normal;
    color: #222;
    position: relative;
    top: 20px;
    margin-bottom: 1em;
}

#masthead h1.no_breadcrumbs
{
}

#masthead #bread_crumbs
{
    color: #9B9B9B;
}

#masthead #bread_crumbs
{
    color: #9B9B9B;
}

#masthead #bread_crumbs a, #masthead #bread_crumbs a:link, #masthead #bread_crumbs a:visited
{
    font-size: 12px;
    color: #9B9B9B;
    padding: 0.5em;
    text-decoration: none;
}

#masthead #bread_crumbs a:hover
{
    color: #666666;
}

#masthead #bread_crumbs a:first-child
{
    padding-left: 0;
}

#masthead #bread_crumbs .current_page
{
    text-decoration: none;
    color: #333;
}

/* -------------------------------------------------------------- 
   Content
-------------------------------------------------------------- */
#content
{
    width: 80%;
    margin: 0 auto;
}

.content_pad
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.content_pad:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.content_pad
{
    display: table;
}

html[xmlns] .content_pad
{
    display: block;
}

* html .content_pad
{
    height: 1%;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Links
----------------------------------------------------------*/

a:link
{
    color: #92b22c;
    text-decoration: none;
}

a:visited
{
    color: #92b22c;
}

a:hover
{
    color: Green;
    text-decoration: underline;
}

a:active
{
    color: #92b22c;
}



/* Table
----------------------------------------------------------*/

table
{
    font-family: Arial;
    width: 70%;
    margin: 0 auto;
    border: solid 1px #000000;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    font-size: 1.0em;
    border: solid 1px #999999;
}

table th
{
    padding: 10px 5px 6px 10px;
    color: #fff;
    font-size: 13px !important;
    text-shadow: 1px 1px 2px #111;
    text-align: left; /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b83b01), to(#923409)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #b83b01, #923409); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #b83b01, #923409); /* IE 10 */
    background: -ms-linear-gradient(top, #b83b01, #923409); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #b83b01, #923409);
    border: solid 1px #000000;
}

.featured
{
    font-weight: bold;
    font-style: italic;
}

.space
{
    border: 0;
    height: 10px;
}

.odd
{
    background-color: #dddddd;
}

.even
{
    background-color: #ffffff;
}
