<div class="accordion_container" style="min-height: 38px;">
    <h2 class="accordion_panel">Like a boss!</h2>
</div>

<div style="background-color: #fff; width: 270px; margin: 2px 0 3px 7px; padding: 10px;">
@if (Culture != "hu-HU")
{
    <p style="text-align: left">Use the website <b>Like a boss</b>!</p>
    <p style="text-align: left">You navigate between the articles with your keyboard. Here is the instruction to them.</p>
    <p style="padding: 10px;">
        <span class="keybinding">n</span> - Go to the next entry <br />
        <span class="keybinding">b</span> - Back to the previous entry
    </p><p style="text-align: right">
        <i style="font-size: 0.8em">You have to enable javascript in your browser!</i>
    </p>
}
else
{
    <p style="text-align: left">Használd az oldal <b>Like a boss</b> lehetőségét!</p>
    <p style="text-align: left">Navigálj a bejegyzések között a billentyűzeteddel. Itt a leírás hozzá.</p>
    <p style="padding: 10px;">
        <span class="keybinding">n</span> - Következő bejegyzésre ugrik <br />
        <span class="keybinding">b</span> - Előző bejegyzésre ugrik
    </p><p style="text-align: right">
        <i style="font-size: 0.8em">A javascriptet engedélyezni kell a böngészödben!</i>
    </p>
}
</div>