<div class="accordion_container" style="min-height: 38px;">
    <h2 class="accordion_panel">@WebApplication.Resources.Common.SocialProfiles</h2>
</div>
<div style="width: 291px; height: 2px;">
</div>
<div class="socialprofiles">
        <a class="socialIcon" id="twitter" href=""></a><a class="socialIcon" id="facebook"
            href=""></a><a class="socialIcon" id="gplus" href=""></a><a class="socialIcon" id="linkedin"
                href=""></a><a class="socialIcon" id="iwiw" href=""></a><span class="socialIcon" id="email"
                    onclick="document.getElementById('contactme').style.visibility = 'visible'"></span>
</div>
<div style="width: 291px; height: 2px;">
</div>
