@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@WebApplication.Resources.Shared.Error.Heading</title>
</head>
<body>
    <h2>
        @WebApplication.Resources.Shared.Error.Content
    </h2>
</body>
</html>